@media screen and (max-width:400px) {
    input {
        max-width: 300px;
    }
}

@media screen and (max-width:400px) {
    .card {
        max-width: 300px;
        margin: 0 auto;
    }
}

@media screen and (max-width:400px) {
    .image {
        max-width: 300px;


    }
}